@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Montserrat:wght@600&display=swap');
/* Only edit this if you know what you are doing! */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

:root{
    /* --bg-color: #2B292E; */
    --bg-color: #fff;
    --text-color: #B2B2B2;
    --main-color: #0C40E8;
}

.navbar-GDD {
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    height: 80px;
    padding: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
  }
    .group-154-311 {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: 100%;
      margin-right: 16.3rem;
    }
      .logo-1-mBu {
        flex-shrink: 0;
        height: 46px;
        margin-right: 0.4rem;
        object-fit: cover;
        vertical-align: top;
        width: 46px;
      }
      .eigentum-rz3 {
        color: #0c40e8;
        flex-shrink: 0;
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 80px;
        white-space: nowrap;
      }
    
    .frame-140-imM {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: calc(100% - 4rem);
      margin: 2rem 0;
    }
      .frame-139-4qD {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: calc(100% - 2rem);
        margin: 1.05rem 5.9rem 0.95rem 0rem;
      }
        .text-PMh {
          text-decoration:none;
          margin: 0px 20px;
          color: var(--text-color);
          font-size: 1.1rem;
          font-weight: 500;
        }
      .component-2-hHq {
        background-color: var(--main-color);
        padding: 10px 30px;
        font-size: 1.1rem;
        font-weight: 500;
        text-decoration: none;
        color: #fff;
      }