@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato" , sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: #fff;
}
.footerww {
  background: #0c40e8;
  width: 100%;
  bottom: 0;
  left: 0;
  position: relative; /* Tambahan: untuk mengatur posisi relatif */
}

.footerww::before {
  content: '';
  position: absolute;
  left: 0;
  top: 100px; /* Memulai elemen dari atas footerww */
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
.footerww .content-footerww{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
.footerww .content-footerww .topww{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -20px;
  margin-bottom: 20px;
}
.content-footerww .topww .logo-detailsww{
  color: #fff;
  font-size: 30px;
}
.content-footerww .topww .media-iconsww{
  display: flex;
}
.content-footerww .topww .media-iconsww a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.topww .media-iconsww a:nth-child(1){
  background: #0c40e8;
}
.topww .media-iconsww a:nth-child(1):hover{
  color: #0c40e8;
  background: #fff;
}
.topww .media-iconsww a:nth-child(2){
  background: #0c40e8;
}
.topww .media-iconsww a:nth-child(2):hover{
  color: #0c40e8;
  background: #fff;
}
.topww .media-iconsww a:nth-child(3){
  background: #E1306C;
}
.topww .media-iconsww a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.topww .media-iconsww a:nth-child(4){
  background: #0077B5;
}
.topww .media-iconsww a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.topww .media-iconsww a:nth-child(5){
  background: #FF0000;
}
.topww .media-iconsww a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
.footerww .content-footerww .link-boxesww{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footerww .content-footerww .link-boxesww .boxww{
  width: calc(100% / 5 - 10px);
}
.content-footerww .link-boxesww .boxww .link_nameww{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxesww .boxww .link_nameww::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.media-iconsww a {
  border: 2px solid #ffffff;
  border-radius: 50%;
}

/* Tambahkan ini untuk memberikan border di sekitar setiap ikon */
.media-iconsww a::before {
  border: 2px solid #0c40e8;
  border-radius: 50%;
}
.content-footerww .link-boxesww .boxww li{
  margin: 6px 0;
  list-style: none;
}
.content-footerww .link-boxesww .boxww li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content-footerww .link-boxesww .boxww li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content-footerww .link-boxesww .input-box{
  margin-right: 55px;
}
.link-boxesww .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #0c40e8;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxesww .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxesww .input-box input[type="button"]{
  background: #fff;
  color: #0c40e8;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
.footerww .bottom-detailsww{
  width: 100%;
  background: #0F0844;
}
.footerww .bottom-detailsww .bottom_textww{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-detailsww .bottom_textww span,
.bottom-detailsww .bottom_textww a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-detailsww .bottom_textww a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-detailsww .bottom_textww a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  .footerww .content-footerww .link-boxesww{
    flex-wrap: wrap;
  }
  .footerww .content-footerww .link-boxesww .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  .footerww{
    position: relative;
  }
  .content-footerww .topww .logo-detailsww{
    font-size: 26px;
  }
  .content-footerww .topww .media-iconsww a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  .footerww .content-footerww .link-boxesww .boxww{
    width: calc(100% / 3 - 10px);
  }
  .footerww .content-footerww .link-boxesww .input-box{
    width: 60%;
  }
  .bottom-detailsww .bottom_textww span,
  .bottom-detailsww .bottom_textww a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  .footerww::before{
    top: 145px;
  }
  .footerww .content-footerww .topww{
    flex-direction: column;
  }
  .content-footerww .topww .media-iconsww{
    margin-top: 0px;
  }
  .footerww .content-footerww .link-boxesww .boxww{
    margin-top: 20px;
    width: calc(100% / 2 - 10px);
  }
  .footerww .content-footerww .link-boxesww .boxww .a{
    max-width: 20px;
  }
  .footerww .content-footerww .link-boxesww .input-box{
    width: 100%;
  }
}