/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}


/* ===== Colours ===== */
:root{
    --body-color: #E4E9F7;
    --nav-color: #fff;
    --side-nav: #fff;
    --text-color: #000;
    --search-bar: #F2F2F2;
    --search-text: #fff;
}



.icons-size{
    color: #333;
    font-size: 14px;
}
.darkLight-searchBoxq{
    display: flex;
    align-items: center;
}

.darkLight-searchBoxq .profileq{
    border-radius: 50%;
    cursor: pointer;
    height: 35px;
    overflow: hidden;
    position: relative;
    width: 35px;
    margin-right: 15px;
}
.darkLight-searchBoxq .profileq img{
    width: 100%;
    top:0;
    position: absolute;
    object-fit: cover;
    left: 0;
    height: 100%;
}
.darkLight-searchBoxq .menu-profileq{
    background-color:#FFF;
    box-sizing:0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 10px 20px;
    position: absolute;
    right: 20px;
    width: 200px;
    transition: 0.5s;
    top: 50px;
    visibility: hidden;
    opacity: 0;
}
.darkLight-searchBoxq .menu-profileq.active {
    opacity: 1;
    top: 85px;
    visibility: visible;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .darkLight-searchBoxq .menu-profileq::before {
    background-color: #fff;
    content: '';
    height: 20px;
    position: absolute;
    right: 30px;
    transform: rotate(225deg);
    top: -7px;
    width: 20px;
    box-shadow: 
      2px 2px 2px rgba(128, 128, 128, 0.2); /* box-shadow di sebelah kanan */
  }
  
  
.darkLight-searchBoxq .menu-profileq h3{
    color: #555;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
    padding: 20px 0px;
    text-align: left;
    width: 100%;
}
.darkLight-searchBoxq .menu-profileq h3 div{
    color: #818181;
    font-size: 14px;
    font-weight: 400;
}
.darkLight-searchBoxq .menu-profileq ul li{
    align-items: center;
    border-top:1px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
}
.darkLight-searchBoxq .menu-profileq ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition:0.5s
}
.darkLight-searchBoxq .menu-profileq ul li a{
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}
.darkLight-searchBoxq .menu-profileq ul li:hover img{
    opacity: 1;
}
.darkLight-searchBoxq .menu-profileq ul li:hover a{
    color:#0C40E8;
}



.btnq{
    font-size: 16px;
    font-weight: bold;
    background: #0C40E8;
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.btnq:hover, .btnq:focus, .btnq:active{
    color: #FFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


body{
    height: 100vh;
    background-color: var(--body-color);
}

body.dark{  
    --body-color: #fff;
    --nav-color: #fff;
    --side-nav: #fff;
    --text-color: #000;
    --search-bar: #fff;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #bebebe;

}

nav .nav-barq{
    position: relative;
    height: 100%;
    max-width: 1700px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-barq .sidebarOpenq{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-barq .logoq a{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menuq .logo-toggleq{
    display: none;
}

.nav-barq .nav-linksq{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-barq .nav-linksq li{
    margin: 0 5px;
    list-style: none;
}

.nav-linksq li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-linksq li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-linksq li:hover a::before{
    opacity: 1;
}

.nav-barq .darkLight-searchBoxq{
    display: flex;
    align-items: center;
}

.darkLight-searchBoxq .dark-light,
.darkLight-searchBoxq .searchToggleq{
    position: fixed;
    height: 40px;
    width: 40px;
    display: flex;
    align-items:flex-end;
    justify-content:flex-end;
    margin: 0 5px;
}

.dark-light i,
.searchToggleq i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggleq i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggleq.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggleq.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggleq.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-barq .sidebarOpenq{
        display: block;
    }

    .menuq{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menuq{
        left: -0%;
    }

    nav.active .nav-barq .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menuq .logo-toggleq{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggleq .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-barq .nav-linksq{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-linksq li a{
        display: block;
        margin-top: 20px;
    }
}