@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
body{
    line-height: 1.5;
}
.card78-wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
img{
    display: block;
}
.img-besar{
    width: 100%;
    height: 500px;
    display: block;
}
.img-display{
    border-radius: 20px;
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item img{
    
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 400;
    position: relative;
    color: #000000;
}
.product-title1{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #000000;
}
/* .product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #000000;
} */
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #0C40E8;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #000000;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 600;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #0C40E8;
}
.product-detail h2{
    text-transform: capitalize;
    color: #000000;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url('/assets/skins/checked.png') left center no-repeat;
    background-size: 30px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 600;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #0C40E8;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
    color: #fff;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .card78{
        display: grid;
        grid-gap: 1.5rem;
    }
    .card78-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        width: 500px;
        padding-top: 0;
    }
}










.frame-156-pto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}





















.group-9-g1K {
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    height: 23.8rem;
    position: relative;
    width: 450px;
    margin: 0;
    padding: 0;
    margin-left: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -300px;
    margin-bottom: 20px;
}
    .informasi-properti-hSD {
      color: #000000;
      font-family: Lato, 'Source Sans Pro';
      font-size: 1.2rem;
      font-weight: 400;
      height: 1.5rem;
      left: 1.7rem;
      line-height: 1.2;
      position: absolute;
      top: 1.9rem;
      white-space: nowrap;
      width: 9.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .auto-group-gquh-9b3 {
      align-items: center;
      display: flex;
      height: 1.5rem;
      left: 17px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 4rem;
      width: 17.1rem;
    }
      .developer--EMb {
        color: #000000;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        line-height: 1.2125;
        margin-right: 0.9rem;
        white-space: nowrap;
      }
      .informasi-properti-LfX {
        color: #000000;
        flex-shrink: 0;
        font-family: Lato, 'Source Sans Pro';
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        line-height: 1.2;
        white-space: nowrap;
      }
    
    .group-14-GJH {
      align-items: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f0f0f0;
      border-radius: 1rem;
      box-sizing: border-box;
      column-gap: 1.8rem;
      display: flex;
      height: 4.2rem;
      left: 1.6rem;
      padding: 1.4rem 1.6rem 1.5rem 1.6rem;
      position: absolute;
      top: 6.5rem;
      width: 23.9rem;
    }
      .group-4-wfK {
        align-items: center;
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
      }
        .vector-Vgq {
          flex-shrink: 0;
          height: 0.91rem;
          margin: 0.11rem 0.5rem 0rem 0rem;
          display: flex;
          justify-content: center;
          align-items: center;
          object-fit: contain;
          vertical-align: top;
          width: 1.3rem;
        }
        .item-2-BpZ {
          color: #000000;
          flex-shrink: 0;
          font-family: Lato, 'Source Sans Pro';
          font-size: 1rem;
          font-weight: 400;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 1.2;
          white-space: nowrap;
          margin-bottom: 0px;
        }
      
      .group-6-KQy {
        align-items: center;
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
      }
        .group-2-sBb {
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 0.901rem;
          margin: 0.101rem 0.5rem 0rem 0rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.9rem;
        }
        .item-1-arh {
          color: #000000;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          font-family: Lato, 'Source Sans Pro';
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2;
          white-space: nowrap;
        }
      
      .group-7-vQm {
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-shrink: 0;
        margin-top: 0.1rem;
      }
        .group-5-TQh {
          flex-shrink: 0;
          height: 0.91rem;
          margin: 0rem 0.5rem 0.09rem 0rem;
          object-fit: contain;
          vertical-align: top;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1rem;
        }
        .m1-nhs {
          color: #000000;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: Lato, 'Source Sans Pro';
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2;
          white-space: nowrap;
        }
      
      .group-8-iLd {
        align-items: center;
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-top: 0.1rem;
      }
        .vector-Gd3 {
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 0.9rem;
          margin: 0.1rem 0.5rem 0rem 0rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.9rem;
        }
        .m-QDT {
          color: #000000;
          flex-shrink: 0;
          font-family: Lato, 'Source Sans Pro';
          font-size: 1rem;
          font-weight: 400;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 1.2;
          white-space: nowrap;
        }
    .group-13-7tZ {
      align-items: center;
      background-color: #f9f9f9;
      border-radius: 1rem;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      display: flex;
      height: 4.2rem;
      left: 1.6rem;
      padding: 0.4rem 1.7rem 0.6rem 1.5rem;
      position: absolute;
      top: 12.2rem;
      width: 23.9rem;
    }
      .group-10-Dgh {
        display: flex;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        height: 100%;
        margin-right: 5.4rem;
      }
        .hari-sewa-a1T {
          color: #050000;
          flex-shrink: 0;
          font-family: Lato, 'Source Sans Pro';
          font-size: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 400;
          line-height: 1.2;
          margin-bottom: 0.5rem;
          white-space: nowrap;
        }
        .rp-15jt-malam-hLy {
          align-items: baseline;
          color: #000000;
          display: flex;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          font-family: Lato, 'Source Sans Pro';
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2;
          white-space: nowrap;
        }
          .rp-15jt-malam-hLy-sub-0 {
            color: #000000;
            font-family: Lato, 'Source Sans Pro';
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            line-height: 1.2;
          }
          .rp-15jt-malam-hLy-sub-1 {
          }
      .group-11-jws {
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
      }
        .bulan-sewa-Vw3 {
          color: #050000;
          flex-shrink: 0;
          font-family: Lato, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2;
          margin-bottom: 0.5rem;
          white-space: nowrap;
        }
        .rp-1jt-malam-dnM {
          align-items: baseline;
          color: #000000;
          display: flex;
          justify-content: center;
          align-items: center;
          display: flex;
          flex-shrink: 0;
          font-family: Lato, 'Source Sans Pro';
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2;
          white-space: nowrap;
        }
          .rp-1jt-malam-dnM-sub-0 {
            color: #000000;
            font-family: Lato, 'Source Sans Pro';
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.2;
          }
          .rp-1jt-malam-dnM-sub-1 {
          }
    .group-12-pM3 {
      align-items: center;
      background-color: #1740c7;
      border-radius: 0.5rem;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      display: flex;
      font-family: Lato, 'Source Sans Pro';
      font-size: 1.2rem;
      font-weight: 400;
      height: 4.3rem;
      justify-content: center;
      left: 1.7rem;
      line-height: 1.2;
      position: absolute;
      top: 17.5rem;
      white-space: nowrap;
      width: 23.7rem;
    }